{% extends 'base.html' %}

{% block title %}{{ page_title }} - {{ block.super }}{% endblock title %}

{% block content %}
<h1 class="text-2xl">Your subscription</h1>

<!-- synchronizes the current details in db with those in stripe -->
<form action="" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Refresh</button>
</form>

<a href="{{ subscription.get_cancel_url }}" class="btn btn-error">Cancel membership</a>

<p>Plan name: {{ subscription.plan_name|title }}</p>
<p>Status: {{ subscription.status }}</p>
<p>Membership age: {{ subscription.original_period_start|timesince }}</p>
<p>Start: {{ subscription.current_period_start }}</p>
<p>End: {{ subscription.current_period_end|timeuntil }} ({{ subscription.current_period_end }})</p>
{% endblock content %}
