{% extends 'base.html' %}

{% block title %}Cancel your subscription - {{ block.super }}{% endblock title %}

{% block content %}
<section
  class="min-h-[calc(100vh-292px)] px-4 py-10 flex flex-col items-center justify-center gap-3"
>
  {% if subscription.is_active_status %}
  <h1 class="text-2xl text-center font-semibold">
    Are you sure you want to cancel
    <span class="underline text-primary">{{ subscription.plan_name }}</span>?
  </h1>

  <div class="flex gap-2">
    <a href="{{ subscription.get_absolute_url }}" class="btn btn-accent">
      No, go back
    </a>
    <form action="" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-error">Yes, cancel</button>
    </form>
  </div>
  {% else %}
  <h1 class="text-2xl text-center font-semibold">
    Your membership is no longer active.
  </h1>
  {% endif %}
</section>
{% endblock content %}
