{% extends 'dashboard/base.html' %}

{% block title %}Subscription details - {{ block.super }}{% endblock title %}

{% block content %}
<section>
  <h1 class="text-3xl mb-2 font-semibold">Your subscription</h1>

  <p class="text-lg">
    <span class="font-bold">Plan name:</span> {{ subscription.plan_name | default:'no active subscription' | title }}
  </p>
  <p class="text-lg">
    <span class="font-bold">Status:</span> {{ subscription.status | default:'n/a' }}
  </p>
  <p class="text-lg">
    <span class="font-bold">Membership age:</span>
    {{ subscription.original_period_start | timesince | default:'n/a' }}
  </p>
  <p class="text-lg">
    <span class="font-bold">Start:</span> {{ subscription.current_period_start | date:'F j Y' | default:'n/a' }}
  </p>
  <p class="text-lg">
    <span class="font-bold">End:</span>
    {{ subscription.current_period_end | timeuntil | default:'n/a' }}
    ({{ subscription.current_period_end | date:'F j Y' | default:'n/a' }})
  </p>

  <div class="flex gap-2 mt-2">
    <form action="" method="POST">
      {% csrf_token %}
      <!-- synchronizes the current details in db with those in stripe -->
      <button type="submit" class="btn btn-primary">Refresh</button>
    </form>
    <a href="{{ subscription.get_cancel_url }}" class="btn btn-error">
      Cancel membership
    </a>
  </div>
</section>
{% endblock content %}
