<header class="sticky top-0 z-10">
  <nav class="navbar bg-base-200">
    <div class="flex-1">
      <a href="{% url 'home' %}" class="btn btn-ghost text-xl">SAAS</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="{% url 'pricing' %}">Pricing</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        <li><a href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
