<header class="sticky top-0 z-10">
  <nav class="navbar bg-base-200">
    <div class="flex-1">
      <a href="{% url 'home' %}" class="btn btn-ghost text-xl">SAAS</a>
    </div>
    <div class="flex-none flex flex-row-reverse md:flex-row gap-2 md:gap-0.5">
      {% include 'nav/nav_menu.html' with class_name='menu menu-horizontal px-1 hidden md:flex' %}
      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="btn btn-square btn-ghost md:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"
            />
          </svg>
        </div>
        {% include 'nav/nav_menu.html' with class_name='menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow' %}
      </div>
      {% include 'snippets/theme_toggle.html' %}
    </div>
  </nav>
</header>
