<div class="hero min-h-screen relative">
  <div class="absolute inset-0 -z-[1]">{% include 'landing/bg.html' %}</div>
  <div class="hero-overlay bg-transparent bg-gradient-to-b from-transparent to-base-100"></div>
  <div class="hero-content text-base-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">
        SaaS boilerplate for software companies
      </h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <a href="{% url 'account_signup' %}" class="btn btn-primary">
        {% if request.user.is_authenticated %}
          Go to Dashboard
        {% else %}
          Get Started
        {% endif %}
      </a>
    </div>
  </div>
</div>
