<div class="w-fit mx-auto pt-36">
  <section class="stats stats-vertical md:stats-horizontal">
    <h2 class="sr-only">Proof Stats</h2>
    <div class="stat place-items-center border-none">
      <div class="stat-title">Page Views</div>
      <div class="stat-value text-primary">{{ page_views }}</div>
      <div class="stat-desc text-primary">33% more than last month</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Downloads</div>
      <div class="stat-value">31K</div>
      <div class="stat-desc">From January 1st to February 1st</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Users</div>
      <div class="stat-value text-accent">4,200</div>
      <div class="stat-desc text-accent">↗︎ 40 (2%)</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">New Registers</div>
      <div class="stat-value">1,200</div>
      <div class="stat-desc">↘︎ 90 (14%)</div>
    </div>
  </section>
</div>
