{% extends 'dashboard/base.html' %}

{% block title %}
    User Profile - {{ block.super }}
{% endblock title %}

{% block content %}
  <section>
    <h1 class="text-2xl font-semibold">
      User profile of: <span class="text-primary">{{ instance.username  }}</span>
    </h1>
    <div class="divider"></div>
    <div>
      {% if perms.auth.view_user or owner %}
        <p>
          Full name:
          {{ instance.first_name | default:'---' }}
          {{ instance.last_name | default:'---' }}
        </p>
        <p>Email: {{ instance.email }}</p>
        <p>Joined in {{ instance.date_joined | date:'F Y' }}</p>
        <p>Last login: {{ instance.last_login }}</p>
      {% else %}
        <div class="text-lg">You are not allowed to see this.</div>
      {% endif %}
    </div>
  </section>
{% endblock content %}